@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  background-image: linear-gradient(to right, #F2A30F, #F2B705);
  background-color: #A69A77;
}

.principal {
  padding: 50px;
  margin: 10px;
  flex: 1 auto;
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(133, 121, 91, 0.842);
  color: black;
}

.acesso {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  width: 1000px;
  height: 100px;
  border-style: dotted;
  border-color: #000000a8;
  border-radius: 100px;
  margin: 10px;
  box-shadow: 5px 5px 15px rgba(80, 77, 65, 0.842);
  color: black;

}

.horizontal {
  flex-direction: row-wrap;
  top: 10px;
  width: 100%;
  background-color: #0378A6;
  padding: 10px;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.vertical {
  background-color: #0378A6;
  flex-direction: row;
  height: 100%;
  width: 100px;
  color: white;

}

.nav-itens {
  border-color: #A69A77;
  color: white;
}